@model IEnumerable<IEnumerable<MRaabta.Models.RunsheetPrintViewModel>>

@{
    Layout = null;
    var headerInfo = Model.ElementAt(0).ElementAt(0);
    var sno = 1;
}

<!doctype html>

<html lang="en">
<head>
    <title>Runsheet Print Preview</title>
    <style>

        * {
            padding: 0px;
            margin: 0px;
        }

        body {
            padding: 20px;
            font-family: Calibri;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

            table td {
                border: 1px solid black;
            }

        tr.hrow td {
            height: 25px !important;
            padding-left: 5px
        }

        #header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

            #header div {
                width: calc(100% / 3);
            }

        #detailTable {
            font-size: 11px !important;
        }


        .snoCol {
            width: 5% !important;
        }

        .addCol {
            width: 20% !important;
        }

        .receiverReasonCol {
            width: 10% !important;
        }

        .signCol {
            width: 15% !important;
        }

        .signimg {
            width: 100%;
            object-fit: contain;
        }

        .signdiv {
            display: flex;
            flex-direction: row;
            padding-top: 50px;
            padding-bottom: 50px;
            justify-content: space-evenly;
            align-items: center;
            font-size: 12px;
        }

            .signdiv p {
                border-top: 2px solid black;
                width: calc(70% / 3);
                text-align: center;
            }


        @@media print {
            html, body {
                height: 100vh;
                margin: 0 !important;
                padding: 0 !important;
            }

            #main {
                page-break-before: always;
            }
        }
    </style>
</head>
<body>
    @foreach (var item in Model)
    {
        <div id="main">
            <div id="header">
                <div>
                    <img src="~/images/mnpLogo.png" height="60" />
                </div>
                <div style="text-align:center">
                    <h3>DELIVERY & POD SHEET (@headerInfo.RSType)</h3>
                </div>
                <div style="text-align:right">
                    <p style="font-family: IDAutomationHC39M">*@headerInfo.RS*</p>
                </div>
            </div>
            <table>
                <tr class="hrow">
                    <td>Delivery Date</td>
                    <td>@headerInfo.RunsheetDate.ToString("dd-MMM-yyyy")</td>
                    <td>Branch</td>
                    <td>@headerInfo.Branch</td>
                    <td>Rider Name</td>
                    <td>@headerInfo.RiderName</td>
                    <td>Rider Code</td>
                    <td>@headerInfo.RiderCode</td>
                </tr>
                <tr class="hrow">
                    <td>Runsheet Number</td>
                    <td>@headerInfo.RS</td>
                    <td>R/M Route Code</td>
                    <td colspan="5">@headerInfo.Route -- @headerInfo.RouteCode | @headerInfo.RouteTerritory -- @headerInfo.RouteTerritoryCode</td>
                </tr>
                <tr class="hrow">
                    <td>Meter Start</td>
                    <td>@headerInfo.MeterStart</td>
                    <td>Meter End</td>
                    <td>@headerInfo.MeterEnd</td>
                    <td>Vehicle Type</td>
                    <td>@headerInfo.VehicleType</td>
                    <td>Vehicle Number</td>
                    <td>@headerInfo.VehicleNumber</td>
                </tr>
                <tr>
                    <td colspan="8" style="text-align:center">
                        <b>S1: Serial Number | KHI: Origin | KHI: Destination | 1: Pieces | 0.5: Weight</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="8">
                        <table id="detailTable">
                            @{
                                var i = 0;
                                while (i < item.Count())
                                {
                                    <tr>
                                        <td class="snoCol">
                                            <div style="display:flex;flex-direction:column">
                                                <p>@("S"+sno++)</p>
                                                <p>@item.ElementAt(i).Origin</p>
                                                <p>@item.ElementAt(i).Destination</p>
                                                <p>@item.ElementAt(i).Pieces</p>
                                                <p>@item.ElementAt(i).Weight</p>
                                            </div>
                                        </td>
                                        <td class="addCol">
                                            <div style="display:flex;flex-direction:column">
                                                <p>@item.ElementAt(i).CN #</p>
                                                @if (item.ElementAt(i).CodAmount.HasValue)
                                                {
                                                    <p>COD Rs. @item.ElementAt(i).CodAmount.Value</p>
                                                }
                                                <p>@item.ElementAt(i).Consignee</p>
                                                <p>Ad: @item.ElementAt(i).ConsigneeAddress</p>
                                                <p>CNIC# @item.ElementAt(i++).ConsigneeCnicNo</p>
                                            </div>
                                        </td>
                                        <td class="receiverReasonCol">
                                        </td>
                                        <td class="signCol">
                                        </td>
                                        @if (i < item.Count())
                                        {
                                            <td class="snoCol">
                                                <div style="display:flex;flex-direction:column">
                                                    <p>@("S" + sno++)</p>
                                                    <p>@item.ElementAt(i).Origin</p>
                                                    <p>@item.ElementAt(i).Destination</p>
                                                    <p>@item.ElementAt(i).Pieces</p>
                                                    <p>@item.ElementAt(i).Weight</p>
                                                </div>
                                            </td>
                                            <td class="addCol">
                                                <div style="display:flex;flex-direction:column">
                                                    <p>@item.ElementAt(i).CN #</p>
                                                    @if (item.ElementAt(i).CodAmount.HasValue)
                                                    {
                                                        <p>COD Rs. @item.ElementAt(i).CodAmount.Value</p>
                                                    }
                                                    <p>@item.ElementAt(i).Consignee</p>
                                                    <p>Ad: @item.ElementAt(i).ConsigneeAddress</p>
                                                    <p>CNIC# @item.ElementAt(i++).ConsigneeCnicNo</p>
                                                </div>
                                            </td>
                                            <td class="receiverReasonCol">
                                            </td>
                                            <td class="signCol">
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="snoCol"></td>
                                            <td class="addCol" colspan="2"></td>
                                            <td class="signCol"></td>
                                        }
                                    </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
            </table>
            <div class="signdiv">
                <p>Courier/SDO Signature</p>
                <p>OPS Incharge/Supervisor</p>
                <p>Security Incharge/Supervisor</p>
            </div>
        </div>
    }
</body>
</html>