@model IEnumerable<MRaabta.Models.AddressLabelModel>
@{
    string cons = "";
    var i = 0;
    // ViewBag.Title = "Address Label";
    // Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="panel-body mainTable">
    @if (Model.Any() && Model != null)
    {
        <div style=" width:100%;">
            <table id="tbl_pickUp" class="table-bordered mt-4 table" border="1" style="width:100%">
                <thead>
                    <tr>
                        <th><input id="all_selected" type="checkbox" name="all_selected">&nbsp; S.No</th>
                        <th>Consignment Number</th>
                        <th>Consignee</th>
                        <th>Consigner</th>
                        <th>Pieces</th>
                        <th>Weight</th>
                        <th>Total Amount</th>
                        <th>CreatedBy</th>
                        <th>CreatedOn</th>
                        <th>Destination</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @{
                                cons = "'" + @item.ConsignmentNumber + "'"; i += 1; }
                            <td><input id="@item.ConsignmentNumber" type="checkbox" name="multiple_selected" value="@item.ConsignmentNumber">&nbsp; @i</td>
                            <td>@item.ConsignmentNumber</td>
                            <td>@item.consignee</td>
                            <td>@item.consigner</td>
                            <td>@item.Pieces</td>
                            <td>@item.Weight</td>
                            <td>@item.totalamount</td>
                            <td>@item.CreatedBy</td>
                            <td>@item.CreatedOn</td>
                            <td>@item.Destination</td>
                             <td><a target="_blank" class="btn btn-primary" style="background-color: #EA5B0C;" href="~/AddressLabel/ViewLoadSheet?type=@ViewBag.Type&cn=@cons">Address Label</a></td>
                        </tr>
                    }

                </tbody>
            </table>
            <div>&nbsp;<br /></div>
            <button id="allcons" class="btn btn-primary" style="background-color: #EA5B0C;" type="button" target="_blank">ALL COMBINED ADDRESS LABEL</button>
        </div>
    }
    else
    {
        <br />
        <h5 style="text-align: center;background-color: #EA5B0C;">No Records Found</h5>
    }
</div>
